.projects-sample-container {
  width: 450px;
  /* max-height: 400px; */
  margin: auto;
  margin-top: 100px;
  background-color: white;
  border-radius: 5px;
}

/* .projects-sample-container:hover {
  opacity: 50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} */

.project-sample-image-container {
  background-color: #a9a9a9;
  margin-top: 8px;
  width: 96%;
  height: 200px;
  border-radius: 5px;
  display: inline-block;
  /* border: #101010 solid 1px; */
}

.project-sample-image {
  width: 100%;
  border-radius: 5px;
  /* height: 100%; */
}

.projects-sample-text-container {
  align-items: left;
  color: #101010;
  text-align: left;
  padding: 14px;
  max-height: 150px;
}

.projects-sample-text-title {
  font-size: 1.3em;
}

.projects-sample-text-description {
  margin-top: 5px;
}

.bottom-div {
  height: 20px;
}
.projects-sample-text-application {
  opacity: 50%;
  float: left;
  font-size: large;
}

.projects-sample-text-language {
  opacity: 50%;
  /* position: absolute;
  text-align: right; */
  float: right;
  color: #191970;
  font-size: large;
}

.github-logo {
  width: 25px;
  height: 25px;
  float: right;
  margin-right: 6px;
  margin-top: 1px;
}

.github-logo:hover {
  opacity: 50%;
  cursor: pointer;
}

.link-logo {
  width: 26px;
  height: 26px;
  float: right;
  margin-top: 1px;
}

.link-logo:hover {
  opacity: 50%;
  cursor: pointer;
}
