.skills-container {
  width: 100%;
  text-align: center;
  position: relative;
  /* background-color: #343434; */
  background-color: #101010;
  /* height: 100vh; */
  color: white;
  user-select: none;
  /* margin-bottom: 100px; */
  padding-bottom: 100px;
}

.skills-text {
  font-size: 7em;
  /* border-radius: 5px;
  display: inline-block;
  width: 700px;
  height: 150px;
  margin-top: 50px;
  position: relative;

  font-family: "Poligon", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.skills-display-container {
  margin-top: 100px;
  /* height: 1000px; */
}

.skills-display-text {
  font-size: 1.5em;
}

.skills-display-flexbox {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  column-gap: 25px;

  /* height: 200px; */
  width: 600px;
  z-index: 5;
}

.image {
  left: 0;
  position: absolute;
  margin: auto;
  bottom: 0;
  margin-top: 225px;
  width: 100%;
}

/* .prop-icon {
  font-size: 2rem;
} */
