.project-toggle-container {
  padding-top: 80px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
}

.personal-projects-tab {
}

.uni-projects-tab {
}

.active {
  background-color: #a9a9a9;
}

.tab-box {
  width: 150px;

  padding: 10px;
  border-radius: 10px;
  font-size: 1.5em;
}

.tab-box:hover {
  cursor: pointer;
}

.tab-box:not(.active):hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
