.skill-box-container {
  height: 110px;
  width: 110px;
  border: 1px white solid;
  margin: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow: hidden;
  /* background-color: whitesmoke; */
}

.skill-image {
  margin-top: 13px;
}

img {
  height: 50px;
}

.skill-text {
  bottom: 0;
  font-size: 1.3em;
  color: whitesmoke;
}

.prop-icon {
  margin-top: 13px;
}

@media (max-width: 850px) {
  .skill-box-container {
    height: 100px;
    width: 100px;
  }

  img {
    height: 45px;
  }

  .skill-text {
    font-size: 1.2em;
  }
}

@media (max-width: 800px) {
  .skill-box-container {
    height: 90px;
    max-width: 90px;
    margin: 0 auto;
  }

  img {
    height: 40px;
  }

  .skill-text {
    font-size: 1em;
  }
}

@media (max-width: 750px) {
  .skill-box-container {
    height: 75px;
    width: 75px;
  }

  img {
    height: 35px;
  }

  .skill-text {
    font-size: 0.9em;
  }
}
