.contact-container {
  width: 100%;
  text-align: center;
  position: relative;
  background-color: #101010;
  /* background-color: #36454f; */
  height: calc(100vh - 60px);
  color: white;
  /* user-select: none; */
}

.contact-text {
  border-radius: 5px;
  display: inline-block;
  width: 700px;
  height: 150px;
  margin-top: 50px;
  position: relative;
  font-size: 7em;
  font-family: "Poligon", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.email-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail-icon {
  padding-top: 10px;
  padding-right: 5px;
  height: 23px;
  width: 23px;
}

.email-redirect {
  border-radius: 5px;
  margin: auto;
  margin-top: 65px;
  color: black;
  text-decoration: none; /* no underline */
  width: 150px;
  background-color: #2b2a2a;
  text-decoration: none; /* no underline */
  border: 1px solid white;
  padding: 10px;
  font-size: 1.5em;
}

.email-redirect a {
  color: white;
  text-decoration: none;
}

@media (max-width: 750px) {
  .contact-text {
    border-radius: 5px;
    width: 700px;
    height: 150px;
    margin-top: 50px;
    position: relative;
    font-size: 6em;
  }
}

.email-redirect:hover {
  border: solid 1px rgb(255, 215, 137);
  cursor: pointer;
  /* animation: scaleAnimation 1s forwards; */
  .email-button-text {
    color: rgb(255, 215, 137);
  }
}

/* @keyframes scaleAnimation {
  100% {
    transform: scale(1.1);
  }
} */
