.experience-container {
  width: 100%;
  position: relative;
  /* background-color: brown; */
  background-color: #101010;
  min-height: calc(100vh);
  color: white;
  text-align: center;
  /* user-select: none; */
  /* color: rgb(255, 215, 137); */
}

.timeline-container {
  margin-top: 150px;
  padding-bottom: 50px;
  font-size: small;
}
