.projects-container {
  width: 100%;
  text-align: center;
  position: relative;
  background-color: #101010;
  /* background-color: white; */
  /* height: 1300px; */
  color: white;
  /* user-select: none; */
}

.projects-sample-image-text {
  align-items: left;
  color: #101010;
  text-align: left;
  padding: 12.8px;
}

.projects-sample-image-text-title {
  font-size: 1.4em;
}

.projects-sample-image-text-subtext {
  opacity: 50%;
}

/* antiquewhite */
/* aquablue */
