body {
  margin: 0;
  position: relative;
  min-height: calc(100vh);
  font-family: "Poligon", sans-serif;
}

.site-container {
  padding-bottom: 60px;
}

html {
  scroll-behavior: smooth;
}
@import url("https://fonts.cdnfonts.com/css/poligon");
